# Host
HOST=localhost
PORT=3000

# Connections
DSN="mysql://slidequiz:slidequiz@localhost:3306/slidequiz"
CACHE="127.0.0.1"

# Security
CORS_ALLOW="https://localhost:5173,https://localhost:5173"
JWT_SECRET="cool_secret_123"
JWT_EXPIRES="10h"
HASH_AMOUNT=10

# Authentication
ENABLE_LOGIN=true
ENABLE_REGISTER=true

# Customization
PAGINATION=9
CODE_LENGTH=4

# vim: ft=sh
