# Host
HOST=localhost
PORT=3000

# Connections
DSN="mysql://slidequiz:slidequiz@localhost:3306/slidequiz"

# Security
CORS_ALLOW="https://localhost:3000,https://localhost:3000"
JWT_SECRET="cool_secret_123"

# Authentication
ENABLE_LOGIN=true
ENABLE_REGISTER=true

# vim: ft=sh
