# Host
HOST=localhost
PORT=3000

# Connections
DSN="mysql://slidequiz:slidequiz@localhost:3306/slidequiz"

# Security
CORS_ALLOW="https://localhost:5173,https://localhost:5173"
JWT_SECRET="cool_secret_123"
JWT_EXPIRES="10h"
HASH_AMOUNT=10

# Authentication
ENABLE_LOGIN=true
ENABLE_REGISTER=true

# Pagination - NOTE: To match the UI, should be divisible by 3
PAGINATION=9

# vim: ft=sh
