# Database
MARIADB_DATABASE=slidequiz
MARIADB_USER=slidequiz
MARIADB_PASSWORD=slidequiz
MARIADB_ROOT_PASSWORD=slidequiz-root

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=3000

## Connections
SERVER_DSN="mysql://slidequiz:slidequiz@slidequiz-database:3306/slidequiz"
SERVER_CACHE="slidequiz-cache"

## Security
SERVER_CORS_ALLOW="https://example.com,https://example.com"
SERVER_JWT_SECRET="cool_secret_123"
SERVER_JWT_EXPIRES="10h"
SERVER_HASH_AMOUNT=10

## Authentication
SERVER_ENABLE_LOGIN=true
SERVER_ENABLE_REGISTER=true

## Customization
SERVER_PAGINATION=9
SERVER_CODE_LENGTH=4

# Client
CLIENT_PORT=3001
CLIENT_API="http://localhost:3000"

# vim: ft=sh
